body {
     font-family: 'Pragati Narrow', sans-serif;
     margin: 0%;    
}

section {
     height: 1080px;
}

h1{
     font-size: 44px;
     text-align: ;
     color: #4b4b4b;
}

h2 {
     font-size: 72px;
     color: Crimson;
}

p {
     color: rgb(53, 53, 53);
     font-size: 20px;
     padding: 0 0 30px 0;
     text-align: justify;
}

.half-width {
     width: 35%;
     margin: 2%;
     float: left;         
     padding:10%;  
     padding-right: 0%;       
}

.Image {
     width: 35%;     
     float: left; 
     padding-left: 0%;        
     padding-right:10%;  
     margin: 2%;  
}

.Image img {
     width: 100%;
}

.button {
     background-image: linear-gradient(45deg, #ff2c7d, #f50052);
     padding: 15px 40px;
     color: white;
     border-radius: 6px;
     text-decoration: none;
     font-weight: 700;     
}

.header-background {
     background-image: url(images/header.png);
     width: 100%;
     background-repeat: no-repeat;
}
     
.biography {
     background-image: url(images/biography-bg.png);
     width: 100%;
     margin: 0;
}

.photo {
     width: 40%;
     float: left;
     padding: 5% 0 5% 10%;
}

.photo img {
     width: 100%;
     position: center;
}

.text {
     width: 35%;  
     float: right;
     padding: 10% 12% 5% 2%;
     height: 720px;
}

.work {
     text-align: center;
     padding-top: 10%;
}

.latest-work {
     background-image: url(images/latest-work-bg.png);
     width: 100%;
     background-repeat: no-repeat;
}

.latest-image img {
     width: 25%; 
     float: left;
}

.image1 {
     padding: 5% 2% 15% 10%;
}

.image2 {
     padding: 5% 0% 15% 0%;
}

.image3 {
     padding: 5% 10% 15% 2%;
}

.footer {
     background-image: url(images/footer-bg.png);
     width: 100%;
}

.client {
     text-align: center;
     font-size: 38px;
}

.hridoy {
     text-align: center;
     font-size: 25px;
     color: #f50052;
     padding-top: 5%;
}
     
.title {
     text-align: center;
     font-size: 18px;
     color: #5c5c5c;   
}

ul {
     text-align: center;
     padding-bottom: 10px;     
}

.last-child {
     margin-bottom: 5%;
     padding: 10x;
}

.end {
     font-size: 25px;
     text-align: center;
     text-decoration: none;
     background-image: linear-gradient(45deg, #ff2c7d, #f50052);
     margin-left: 37.5%;
     padding: 60px 120px;
     color: white;
     float: inline-end;
     font-weight: 700;
     border-radius: 10px;
     margin-top: 5%;
 }

.copyright { 
     text-align: center;
     padding-top: 15%;
     float: inline-end;
     font-size: 16px;     
}